{% extends "base.html" %}

{% block content %}
    <main>
        <section class="slanted-section" id="experience">
            <div class="container">
                <div class="section-title-wrapper">
                    <div class="slanted-title"><span>{% if form.instance.pk %}EDIT EXPERIENCE{% else %}ADD NEW EXPERIENCE{% endif %}</span></div>
                </div>

                <div class="project-form-outer">
                    <form method="post" action="" class="project-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p class="form-error">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <div class="form-actions">
                            <a href="{% url 'main:show_experience' %}" class="form-cancel">Cancel</a>
                            <button type="submit" class="form-submit"><span>{% if form.instance.pk %}Update{% else %}Add{% endif %} Experience</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
