{% extends "base.html" %}
{% block meta %}
    <title>Login</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="slanted-section">
            <div class="container">
                <div class="section-title-wrapper">
                    <div class="slanted-title"><span>Log In</span></div>
                </div>
                
                <div class="project-form-outer">
                    <form method="post" action="{% url 'main:login' %}" class="project-form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% for error in field.errors %}
                                    <p class="form-error">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}
                        <div class="form-actions">
                            <button type="submit" class="form-submit">Login</button>
                        </div>
                    </form>
                    <p class="auth-switch">Don't have an account? <a href="{% url 'main:register' %}">Sign up here!</a></p>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}